
body {
    margin: 0;
    background-color: blue;
    font-family: "Arial", sans-serif;
    text-align: left;
    color: white;
  
    
    }

    img {

        max-width: 100%;
    }
    
    header {
      width: 100%;
      padding: 30px 60px;
      box-sizing: border-box;
    }
        nav.header-right {
          
          position:fixed;
          top:0px;
          right:60px;

          line-height:2.7;
        
        }
        
        nav a {
          display:inline-block;
        padding: 0px 20px;
        background: #fd7a01;
        color: white;
        text-decoration: none;
        border-radius: 7px;
          transition: transform 0.2s;
          
        
        
        
        }

        nav a:hover {
          transform: rotate(10deg);
        }


   h1 {
    font-family: "peckham-press", sans-serif;
    font-weight: 400;
    font-style: normal;      
    font-size: 14vw;
     margin: 0;
     line-height:1.1;
     background-image: url('img/orange1.jpg'); 
     -webkit-background-clip: text; 
     background-clip: text;
     -webkit-text-fill-color: transparent; 
     color: transparent;  
     line-height: 1; 
    
    }
    
    
    .image-grid {

        column-count: 4;
        column-gap: 40px;
        padding: 73px;
        break-inside: avoid;
        
        }

    
    .image-grid img {
    
    width: 100%;
    max-width: 600px;
    display: grid;
    margin: auto;
    cursor: pointer;
    transition: transform 0.2s;
    break-inside: avoid;

    
    }
    
    
    .image-grid p {
    
    font-size: 12.5px;
    margin-top: 10px;
    font-weight: 500;
    break-inside: avoid;

    
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        justify-content: left;
      }
      
    
    
    

    img {

        max-width: 400px;
        height: auto;
        
        }

        #lightbox {

            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.85);
            justify-content: center;
            align-items: center;
            
            }
                        
            #lightbox img {
            
            max-width: 90%;
            max-height: 90%;
            border-radius: 10px;
            
            }

            .image-grid img {
                cursor: pointer;
                transition: transform 0.2s;
                break-inside: avoid;

                }
                
                .image-grid img:hover {
                transform: scale(1.05) rotate(3deg);
                }
    
 .description {
     width: 750px;           
     padding: 50px;         
     text-align: left;       
     border-radius: 2px; 
     position: absolute;     
     top: 200px;              
     right: 378px; 
     font-size: 14px;           
      
}

.container {
    width: 900px;           
    align: left ; 
    padding: 40px;    
    top: 325px;              
    right: 550px; 

}

.image-link img {
    width: 300px;
    border-radius: 12px;
    transition: 0.3s ease;
    cursor: pointer;
  }
  
  .image-link img:hover {
    transform: scale(1.05);
    opacity: 0.100;
  }

  .form-container1  img {
    position: absolute;     
    top: 300px;
    right: 900px;
    max-height: 350px;

  }
  .form-container2  img { 
    position: absolute;     
    top: 300px;
    right: 575px;
    max-height: 300px;

  }
  .form-container3  img {
    position: absolute;     
    top: 300px;
    right: 260px;
    max-height: 300px;
  }


          
    html, body {
      height: 100%;
      margin: 0;
    }
    
    .page-container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    
  
    
    .page-container {
      display: flex;
      flex-direction: column;
      min-height: 40vh;

    }
    
    main {
      flex: 1;
    }
    
    footer {
      background: #fd7a01;
      color: white;
      text-align: left;
      padding: 10px;
      margin-top: auto;   
      }
    

    .h3 {
      font-size: 10vw;
      font-family: "doublebass", sans-serif;
      font-weight: 700;
      font-style: normal; 
      align:left;
    }
  
    .header-right {
      position: fixed;    
      top: 0;
      left: 0;
      width: 100%;
      background-color: #fd7a01;  
      display: flex;
      justify-content: right;
      z-index: 1000;       
      padding: 5px;
    }
    
    .header-right a {
      color: white;
      text-decoration: none;
      font-size: 18px;
    }
    
    body {
      margin: 0;
      padding-top: 60px; 
    }
    
   
    
    .header-left {
      display: flex;
      align-items: center;
      width: 100%;
    }
    
    .image-text {
      margin: 0;
    }
    
    .arrow-img {
      width: 170px;
      height: auto;
      margin-left: auto;
    }
    
    @media (max-width:950px) {
    nav.header-right {
      position:static;
      width:100%;
      text-align:center;
      column-count:2;
    }
  
    }