
body {
    margin: 0;
    background-color: blue;
    font-family: "Helvetica", sans-serif;
    text-align: left;
    color: white;
  
    
    }

    img {
        width: 100%;
        max-width: 100%;
    }
    
    header {
      width: 100%;
      padding: 30px 60px;
      box-sizing: border-box;
    }
        nav.header-right {
          
          position:fixed;
          top:0px;
          right:60px;

          line-height:2.7;
        
        }
        
        nav a {
        display:inline-block;
        padding: 0px 20px;
        background: #fd7a01;
        color: white;
        text-decoration: none;
        border-radius: 7px;
        transition: transform 0.2s;
          
        
        
        
        }

        nav a:hover {
          transform: rotate(10deg);
        }


   h1 {
    font-family: "peckham-press", sans-serif;
    font-weight: 400;
    font-style: normal;      
    font-size: 14vw;
     margin: 0;
     line-height:0.9;
     background-image: url('img/orange1.jpg'); 
     -webkit-background-clip: text; 
     background-clip: text;
     -webkit-text-fill-color: transparent; 
     color: transparent;  
    
    }
    
    
    .image-grid {
          
      display: grid-lanes;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  
        display: grid;
        padding: 73px;
        break-inside: avoid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        }

        


    
    .image-grid img {
    
    width: 100%;
    max-width: 600px;
    display: grid;
    margin: auto;
    cursor: pointer;
    transition: transform 0.2s;
    

    
    }
    
    
  
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        justify-content: left;
      }
      
    


        #lightbox {

            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: auto;
            height: auto;
            background: rgba(0,0,0,0.85);
            justify-content: center;
            align-items: center;
            
            }
                        
            #lightbox img {
            
              width: auto;
              height: auto;
              max-width: 90vw;
              max-height: 90vh;
              border-radius: 20px;
              transform: scale(1.05);
            }

            .image-grid img {
                cursor: pointer;
                transition: transform 0.2s;
                break-inside: avoid;
                gap: 20px;
                width: 100%;
                display: block;

                }

                .image-grid div {
                  break-inside: avoid;
                  margin-bottom: 40px; 
                }
                
                .image-grid img:hover {
                transform: scale(1.05) rotate(3deg);
                }
    
 .description {
     width: 750px;           
     padding: 60px;         
     text-align: left;       
     border-radius: 2px; 
     font-size: 14px;           
      
}

.container {
    width: 900px;           
    align: left ; 
    padding: 40px;    
    top: 325px;              
    right: 550px; 

}

.image-link img {
    width: 300px;
    border-radius: 12px;
    transition: 0.3s ease;
    cursor: pointer;
  }
  
  .image-link img:hover {
    transform: scale(1.05);
    opacity: 0.100;
  }

  .form-container1  img {
    position: absolute;     
    top: 300px;
    right: 900px;
    max-height: 350px;

  }
  .form-container2  img { 
    position: absolute;     
    top: 300px;
    right: 575px;
    max-height: 300px;

  }
  .form-container3  img {
    position: absolute;     
    top: 300px;
    right: 260px;
    max-height: 300px;
  }


          
    html, body {
      height: 100%;
      margin: 0;
    }
    
    .page-container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    
  
    
    .page-container {
      display: flex;
      flex-direction: column;
      min-height: 40vh;

    }
    
    main {
      flex: 1;
    }
    
    footer {
      background: #fd7a01;
      color: white;
      text-align: left;
      padding: 30px;
      margin-top: auto;  
      background-image: url('img/orange1.jpg');

      }
    

   
    .button {
      position: fixed;    
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: right;
      z-index: 1000;       
      padding: 12px;
      background-image: url('img/orange1.jpg');
      font-weight: 400;

      
    }
    
    .button a {
      color: blue;
      font-size: 18px;
      background-image: url('img/orange1.jpg');
      background: transparent;



    }
    
    body {
      margin: 0;
      padding-top: 60px; 
    }
    
   
    
    .header-left {
      font-family: "peckham-press", sans-serif;
      display: flex;
      align-items: left;
      width: 100%;
      font-size: 40px;
      color:#fd7a01;

      
    }

    .description {
font-size: 20px;

    }

  
    
  .form-container img {
    width: 20%;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: left;
    display: flex;   
    justify-content: center; 
}


    
    .arrow-img {
      width: 170px;
      height: auto;
      margin-left: auto;
    }
    
    @media (max-width:950px) {
    nav.header-right {
      position:static;
      width:100%;
      text-align:center;
      column-count:2;
     }  

    .arrow-img {
        width: 100px;
        height: 200px;
      }

      .image-grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        margin: -25px;
      }

    .button a {
      scale: 70%;
      display: flex;
      gap:10px;
      justify-content: center;
    }

    .h1 {
      text-align: right;
    }

   
  
    }